

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #E8E8E8;
    color: #2A2929;
}

.noscroll,
.noscroll body{
    overflow: hidden;
}

.chapeau{
    font-style: italic;
    font-weight: 300;
    display: flex;
    margin: 1em;
    font-size: 0.9em;
}

.preview{
    display: inline-block;
    margin: 1em;
    width: 40%;
}

.box-tweet{
    font-size: 0.7rem;
    display: inline-block;
    width: 21%;
}

.bouton-next{
    padding: 0.5em;
    display: block;
    color: white;
    background-color: #2A2929;
    margin-bottom: 0.5em;
    
}

.lire{
    display: inline-block;
    font-size: 0.3rem;
    padding: 0.3em;
}

.next-arrow{
    padding-left: 1em;
    display: inline-block;
    width: 14%;
}

.tweet{
    background-color: none;
}

.affiche{
    display: flex;
    width: 100%;
}

.bandeau-rouge{
    margin-top: 1em;
    font-size: 0.8rem;
    text-align: left;
    color: white;
    background-color: #982118;
    height: 10vh;
    padding: 0.2em;
    padding-left: 1em;
}

.block-txt{
    text-align: left;
    padding: 1em;
    font-size: 1rem;
    font-weight: 400;
}

.block-img-leg{
    padding: 1em;
    text-align: center;
    font-size: 0.6rem;
}

.img-article{
    width: 100%;
}

.bandeau-noir{
    width: 80%;
    font-size: 1rem;
    display: inline-block;
    color: white;
    background-color: #2A2929;
    height: 8vh;
    padding: 0.5em;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #982118;
  }

blockquote {
    font-size: 1rem;
    text-align: center;
    color: #982118;
    border-left: 7px solid #982118;
    background: #ebebeb;
    margin: 1.5em 25px;
    padding: 1px 10px;
    quotes:"\201C""\201D""\2018""\2019";
    margin-top: 0em;
    margin-bottom: 2em;
}