

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #E8E8E8;
}

.noscroll,
.noscroll body{
    overflow: hidden;
}

.chapeau{
    display: flex;
    margin: 1em;
    font-size: 1em;
}

.preview{
    display: inline-block;
    margin: 1em;
    width: 40%;
}

.box-tweet{
    font-size: 0.7rem;
    display: inline-block;
    width: 21%;
}

.bouton-next{
    padding: 0.5em;
    display: block;
    color: white;
    background-color: #2A2929;
    margin-bottom: 0.5em;
    
}

.lire{
    display: inline-block;
    font-size: 0.3rem;
    padding: 0.3em;
}

.next-arrow{
    padding-left: 1em;
    display: inline-block;
    width: 14%;
}